body {
    background-color: rgb(115, 184, 253);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    margin-left: 60px;
}

li {
    font-size: 15px;
    font-weight: normal;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.orderlistheading {
    font-size: 17px;
    font-style: normal;
}

.middle {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.topmenu {
    background-color: lavender;
    margin-right: 1260px;
    margin-left: 5px;
}

.menu {
    background-color: darkcyan;
    margin-left: 5px;
    margin-right: 1290px;
}



